/* Updated CSS for Admin Dashboard */

.admin-dashboard {
  color: white;
  max-width: 120rem;
  margin: 0 auto;
  padding: 4rem;
}

/* Header Styling */
.admin-dashboard h1 {
  font-size: 2.5rem;
  color: #2454D7;
  text-align: center;
  margin-bottom: 4rem;
  padding-bottom: 1rem;
}

/* Logout Button */
.logout-button {
  background-color: #2454D7;
  color: #fff;
  padding: 1.6rem 2rem;
  border: none;
  border-radius: 2remx;
  font-size: 1.2rem;
  cursor: pointer;
  position: absolute;
  top: 2rem;
  right: 2.9rem;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: white;
  color: #2454D7;
}

/* Section Styling */
.news-section, .fighters-section {
  background-color: black;
  padding: 2rem;
  margin-bottom: 3rem;
  border-radius: 1rem;
  box-shadow: 0 .4rem 1rem rgba(0, 0, 0, 0.5);
}

/* Form Styling */
input[type="text"], input[type="file"], textarea {
  width: 100%;
  padding: 1.2rem;
  margin-bottom: 1.5rem;
  border: .1rem solid #333;
  border-radius: .8rem;
  font-size: 1.3rem;
  background-color: white;
  color: black;
  transition: border-color 0.3s;
}
.buttonNews{
  background-color: #2454D7;
  color: white;
  padding: 1rem;
  border: .1rem solid #2454D7;
  cursor: pointer;
}
.buttonNews:hover{
color: #2454D7;
background-color: white;
border:.1rem solid #2454D7;
}
.buttonFighter{
  background-color: #2454D7;
  color: white;
  padding: 1rem;
  border: .1rem solid #2454D7;
  cursor: pointer;
}
.buttonFighter:hover{
  color: #2454D7;
  background-color: white;
  border:.1rem solid #2454D7;
}
input[type="text"]:focus, textarea:focus {
  border-color: #2454D7;
  outline: none;
}

.addNewsFighter{
  background-color:#2454D7;
  color: #fff;
  padding: 1rem 1.5rem;
  border: none;
  border-radius:.8rem;
  font-size: 1.5rem;
  cursor: pointer;
  margin-bottom: 2rem;
  transition: background-color 0.3s;
}

.addNewsFighter:hover,.newsEdit:hover,.newsDel:hover,.fighterEdit:hover,.fighterDel:hover {
  background-color: white;
  color: #2454D7;
}
.newsEdit{
  width: 8rem;
  background-color:#2454D7;
  color: #fff;
  padding: 1rem 1.5rem;
  border: none;
  border-radius:.8rem;
  font-size: 1.5rem;
  cursor: pointer;
  margin-bottom: 2rem;
  transition: background-color 0.3s;
}
.newsDel{
  background-color:#2454D7;
  color: #fff;
  padding: 1rem 1.5rem;
  border: none;
  border-radius:.8rem;
  font-size: 1.5rem;
  cursor: pointer;
  margin-bottom: 2rem;
  transition: background-color 0.3s;
  width: 8rem;
  
}
.fighterEdit{
  background-color:#2454D7;
  color: #fff;
  padding: 1rem 1.5rem;
  border: none;
  border-radius:.8rem;
  font-size: 1.5rem;
  cursor: pointer;
  margin-bottom: 2rem;
  transition: background-color 0.3s;
  margin-top: 2rem;
  width: 8rem;
  margin-left: 12rem;
  margin-right: 4rem;
}
.fighterDel{
  background-color:#2454D7;
  color: #fff;
  padding: 1rem 1.5rem;
  border: none;
  border-radius:.8rem;
  font-size: 1.5rem;
  cursor: pointer;
  margin-bottom: 2rem;
  transition: background-color 0.3s;
  margin-top: 2rem;
  width: 8rem;
}
.add-news-button:hover, .add-fighter-button:hover {
  background-color: #2454D7;
  
}

/* Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th, td {
  padding: 1.2rem;
 
  border: 0.01rem solid white; /* Corrected 'soild' to 'solid' */
}
th {
  text-align: center;
  color: #2454D7;
  font-size: 1.4rem;
}

td {
  text-align: left;
font-size: 1.2rem;
}


tr:hover td {
  background-color: #333;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: absolute;
  background-color: white;
 padding-top: 5rem;
 padding-left: 5rem;
 padding-right: 5rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding-bottom: 5rem;
  width: 90%;
  max-width: 60rem;
}
.modal-close-btn {
  font-size: 2.4rem;
  color: #333;
  background: none;
  border: none;
  position: absolute;
  top:1rem;
  right: 2rem;
  cursor: pointer;
}

.modal-close-btn:hover {
color: #2454D7;
background-color: transparent;
}
