.carousel-container {
    width: 100vw;
    height: 90vh;
    overflow: hidden;
    position: absolute;
    left: 48rem;
    top: -2rem;
  }
  
  .carousel-container img {
 width: 90rem;
 height: 90rem;
 object-fit: cover;
  }
  
  button.slick-prev, button.slick-next {
    color: white;
    z-index: 10; /* Ensure arrows are on top of other elements */
}
button.slick-prev:before {
    left: 130rem;
    top: 35rem;
    position: absolute;
    /* Ensure arrows contrast against the background */
    font-size: 4rem; /* Adjust arrow size */
}
button.slick-next:before {
    position: absolute;
    right: 54rem;
    top: 35rem;
 /* Ensure arrows contrast against the background */
    font-size: 4rem; /* Adjust arrow size */
}
.slide {
position: relative;
overflow: hidden;
}
.slide .newsCarousel{
    text-transform: uppercase;
    letter-spacing: 2rem;
    color: white;
    z-index: 10;
    position: absolute;
    top: 42rem;
    left: 11rem;
    font-size: 6rem;
}
.slide .fightersCarousel{
    text-transform: uppercase;
    letter-spacing: 2rem;
    color: white;
    z-index: 10;
    position: absolute;
    top:42rem;
    left:.7rem;
    font-size: 6rem;
}
.slide a{
    text-decoration: none;
    color: white;
  text-transform: uppercase;
  position: absolute;
  top: 60rem;
  left: 31rem;
  font-size: 3rem;
  border: none;
  font-weight: 600;
  background-color:#2454D7;
transition: all linear .2s;
}
.slide a:hover{
    color: #2454D7;
    background-color: white;
}
.slide .carousel-btn1{
    position: absolute;
    top: 58rem;
    left: 35rem;
    font-size: 3rem;
    padding:2rem 5rem;
}
.slide .carousel-btn2{
    position: absolute;
  top: 55rem;
  left: 31rem;
  font-size: 3rem;
  border: none;
  padding:2rem 5rem;
}
@media (max-width: 1024px){
    .carousel-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        left: 21rem;
        top: 1.5rem;
        padding: 0 3rem;
      }
      .carousel-container img {
     width: 55rem;
     height: 55rem;
      }
      .slide .newsCarousel{
        text-transform: uppercase;
        letter-spacing: 1rem;
        color: white;
        z-index: 10;
        position: absolute;
        top: 32rem;
        left: 8rem;
        font-size: 4rem;
    }
      .slide .fightersCarousel{
        text-transform: uppercase;
        letter-spacing: 1rem;
        color: white;
        z-index: 10;
        position: absolute;
        top: 28rem;
        left: 1rem;
        font-size: 4rem;
      }
      .slide .carousel-btn1{
        position: absolute;
        top: 38rem;
        left: 21rem;
        font-size: 1.5rem;
        padding:2rem 4rem;
    }
    .slide .carousel-btn2{
        position: absolute;
        top: 36rem;
        left: 19rem;
        font-size: 1.5rem;
        padding:2rem 4rem;
    }
      button.slick-prev:before {
        left: 70rem;
        top: 20rem;
        position: absolute;
        /* Ensure arrows contrast against the background */
        font-size: 3rem; /* Adjust arrow size */
    }
    button.slick-next:before {
        position: absolute;
        right: 23rem;
        top: 20rem;
     /* Ensure arrows contrast against the background */
        font-size: 3rem; /* Adjust arrow size */
    }
}
